################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PetsAndFleas/.vs/PetsAndFleas/v17
/PetsAndFleas/.vs/PetsAndFleas/FileContentIndex
/PetsAndFleas/PetsAndFleas.ConApp/obj
/PetsAndFleas/.vs/PetsAndFleas/DesignTimeBuild
/PetsAndFleas/PetsAndFleas.ClassLibrary/obj
/PetsAndFleas/PetsAndFleas.UnitTests/obj
