################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PetsAndFleas/.vs/PetsAndFleas/v17
/PetsAndFleas/.vs/PetsAndFleas/FileContentIndex
/PetsAndFleas/PetsAndFleas.ConApp/obj
/PetsAndFleas/.vs/PetsAndFleas/DesignTimeBuild
/PetsAndFleas/PetsAndFleas.ClassLibrary/obj
/PetsAndFleas/PetsAndFleas.UnitTests/obj
/PetsAndFleas/PetsAndFleas.UnitTests/bin/Debug/net8.0
/PetsAndFleas/PetsAndFleas.ClassLibrary/bin/Debug/net8.0
/PetsAndFleas/PetsAndFleas.ConApp/bin/Debug/net8.0
/PetsAndFleas/.vs/ProjectEvaluation
